<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{BASE}}">
      <img class="logo" src="{{BASE}}public/img/bulma-logo.png">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      <a href="{{BASE}}" class="navbar-item">๐ก Pรกgina inicial</a>
      <a href="{{BASE}}cep" class="navbar-item">๐ CEP</a>
      <a href="{{BASE}}sobre" class="navbar-item">๐โโ๏ธ Sobre nรณs</a>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a href="{{BASE}}contato" class="button is-primary"><b>๐ฌ Fale conosco</b></a>
        </div>
      </div>
    </div>
  </div>
</nav>